$color: steelblue;

.my-flix {
  color: $color;
}

p {
  font-size: 20px;
}

//Button Styling
.button-favorite {
  padding: 10px;
  margin-bottom: 20px;
}

.button-unfavorite {
  padding: 10px;
  margin-bottom: 20px;
}

.back-button {
  padding: 20px;
  margin-bottom: 10px;
}

//NavBar Styling